@charset "utf-8";
/* CSS Document */

* {
		margin: 0;
		padding: 0;
	}
	ul {
		width:100%;
		height:100%;
		list-style-type:none;
	}
	li {
		width:100%;
		float:left;

	}
	li:last-child {
		border-right:none;
	}
	li a {
	display:block;
	height: auto;
	padding: 10%;
	width:100%
	color: #F00;
	background: transparent;
	text-decoration: none;
	}
	#page1{
			
			height:100%;
			width:100vw;
			position:relative;
			float:left;
			margin:0;
			padding:0;
			}
	#header1{
			background-color:rgb(245, 97, 0);
			height:10%;
			width:100vw;
			position:relative;
			float:left;
			margin:0;
			padding:0;
	}
			#content1 {
			position:relative;
			float:left;
			width:100vw; 
			height:80%;
			padding:0;
			margin:0;
						}

	
	
	video {
	position: relative;
	float: left;
	width: 100vw;
	height: auto;
	z-index: 1;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0px;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top:3%;
						}
   #footer1{
		background-color:rgb(245, 97, 0);
		height:9%;
		width:100vw;
		position:relative;
		float:left;
		margin-top:2%;
		padding:0;
	
   }
.ui-header{border-width:0px;}

.ui-footer{border-width:0px;}
			 
#despliego {
	width:100%;
	background-color:rgb(245, 97, 0);
	z-index:20;
	position:relative;
	float:left;
}
 
#despliego #botone {
	width:90%;
	max-width:1000px;
	
	z-index:20;
	height:100hw;
	
}
 
.menu_bar {
	display:none;
	background:transparent;
}
 
#despliego #botone ul {
	overflow:hidden;
	list-style:none;
	z-index:20;
height:100hw;

}
 
#despliego #botone ul li {
	float:left;
}
 

#despliego #botone ul li a:hover {
	background:#C60;
	border:0px;
}
 .ui-icon-myicon{
background-image: url(zesty%20logo-01.png); important!
    background-size: 10px 10px;
}
 
@media screen and (max-width:800px ) {
	#despliego #botone {
	width:30%;
	height:100%;
	left:-100%;
	margin:0;
	position: fixed;
	z-index:20;
	background:black;
	}

#despliego #botone ul li {
	display:block;
	float:left;
	z-index:20;
	width:100%;
	height:16%;
		
	}
 #despliego #botone ul li a {
	color:white;
	display:block;
	text-decoration:none;
}
 #despliego #botone ul li a img {
	width:45%;
	height:auto;
	padding-left:20%;

}
.menu_bar {
		display:block;
		width:20%;
		margin-left:5%;	
		height:100hw;
	}
	.menu_bar #bt-menu {
		display:block;
		color:#fff;
		text-decoration:none; 
	}
	.ul1 {
		width:100%;
		height:auto;
		list-style-type:none;
		margin:0;
		padding:0;
	}
	.ul1 li {
		width:45%;
		height:auto;
padding:2.5%;
		float:left;
	}
		.ul1 li a{
padding:0;
width:100%;
margin:0;
height:auto;
	}	
		.ul1 li a img{
		padding:0;
		width:100%;
		height:auto;
		margin:0;
	}
	#despliego .ui-btn-right {
	width:55%;
	 height:auto;
	float:right;

	}
#despliego .ui-btn-right p{
	width:auto;
	float:left;
	margin-top:7%;
	font-size:1.7em;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	}
#despliego .ui-btn-right img{
	width:17%;
	 height:auto;
	float:right;
	margin-right:5%;
	}
	#content3{
		
	background:#F60;}
	#somos{
		text-align:left;
		font-size:1em;
		}
			#somos2{
	text-align: left;
	font-size: 1em;
		}
			#somos3{
		text-align:left;
		font-size:1em;
		}
		.fondoquienesfranz{
			width:100%;
			height:auto;
			}
			.fondoquienestomas{	width:100%;
			height:auto;
			}
			.fondoquienesjoaquin{
			width:100%;
			height:auto;
			}
			
			.submit{
				width:60%;
				border-radius:0;
				margin-left:20%;
				}

.msg{
	width:90%;
	height:200px;}
	.msg ui-input-text ui-shadow-inset ui-body-inherit ui-corner-all ui-textinput-autogrow{
		height:200px;}